SECRET_KEY='django-insecure--umu(g*!p1hg4mc(67vf!+@m#=aw37)*wbrbnm^+40^g!g0(6+'
DEBUG=True
ALLOWED_HOSTS="*"

# config jwt
ACCESS_TOKEN_LIFETIME=12000000
REFRESH_TOKEN_LIFETIME=1200
ROTATE_REFRESH_TOKENS=True
UPDATE_LAST_LOGIN=True

# config Database
DB_NAME="parameter"
DB_USER="parameter_user"
DB_PASSWORD="parameter_YJh%q!3LU7sUIj5%OELk"
DB_HOST="localhost"
DB_PORT=5432

# config Redis
USER_REDIS="parameter_user"
PASSWORD_REDIS="parameter_VKi^oS31Bhwmi4Kq"
HOST_REDIS="localhost"
PORT_REDIS=6379

# config Pagination
PAGE_SIZE=10
MAX_PAGE_SIZE=10000